/* post */
.post {
  margin-bottom: 40px; }
  .post .post_title {
    margin: 0 0 5px;
    padding: 0;
    font: bold 26px/120% Arial, Helvetica, sans-serif; }
  .post .post_date {
    margin: 0 0 10px;
    font-size: 90%; }

/* post image */
.post_image {
  margin: 5px 0 15px; }
