/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
  /* pagewrap */
  #wrapper {
    width: 95%; }

  /* content */
  #main_section {
    width: 60%;
    padding: 3% 4%; }

  /* sidebar */
  #main_aside {
    width: 30%; }
    #main_aside .widget {
      padding: 8% 7%;
      margin-bottom: 10px; }

  /* embedded videos */ }
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
  /* header */
  /* search form */
  /* main nav */
  #main_menu {
    position: static; }

  /* content */
  #main_section {
    width: auto;
    float: none;
    margin: 20px 0; }

  /* sidebar */
  #main_aside {
    width: 100%;
    margin: 0;
    float: none; }
    #main_aside .widget {
      padding: 3% 4%;
      margin: 0 0 10px; } }
/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {
  /* disable webkit text size adjust (for iPhone) */
  /* main nav */
  #main_menu a {
    font-size: 90%;
    padding: 10px 8px; } }
